<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
    <title>Warframe Droprate Explorer</title>
    <meta name="description" content="A simple exploration tool for the droprates in Warframe.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://unpkg.com/vue"></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css"> 
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <section id="vue-wrapper">
      <header class="header">
        <section class="search-wrapper">
          <input class="search-bar" type="text" v-model="searchText" placeholder="Search...">
          <button class="search-button" @click="search(searchText)">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </section>
        <section class="filter-menu">
          <ul class="menu" v-bind:class="{ invisible: !menuVisible }">
            <li v-for="filter in filters" v-bind:style="{ gridRow:filter.id }" @click.prevent="updateCurrentFilters(filter.id)">
              <input v-bind:id="filter.id" v-bind:name="filter.name" type="checkbox" class="filter-checkbox invisible">
              <label v-bind:for="filter.id" class="filter-checkbox-box"></label>
              <label v-bind:for="filter.id" class="filter-name">{{filter.label}}</label>
            </li>
          </ul>
          <button class="menu-button" @click="toggleMenu">
            <span v-if="menuVisible"><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
            <span v-else><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
          </button>
        </section>
      </header>

      <section id="data" class="data-wrapper">
        <section class="section" v-for="section in filteredData.sections">
          <section class="title">
            <p>{{section.section}}</p>
          </section>
          <section class="subSection" v-if="section.subSections" v-for="subSection in section.subSections">
            <section class="title">
              <p>{{subSection.subSection}}</p>
            </section>

            <section class="data" v-if="subSection.items">
              <p class="column-1 column">Name</p>
              <p class="column-2 column">Item drop chance (if applicable)</p>
              <p class="column-3 column">Drop rate</p>
            </section>
            <section class="data highlight" v-if="subSection.items" v-for="item in subSection.items">
              <p class="column-1 column">{{item.name}}</p>
              <p class="column-2 column">{{item.itemchance}}</p>
              <p class="column-3 column">{{item.droprate}}</p>
            </section>

          </section>

          <section class="data" v-if="section.items">
            <p class="column-1 column">Name</p>
            <p class="column-2 column">Item drop chance (if applicable)</p>
            <p class="column-3 column">Drop rate</p>
          </section>
          <section  class="data highlight" v-if="section.items" v-for="item in section.items">
            <p class="column-1 column">{{item.name}}</p>
            <p class="column-2 column">{{item.itemchance}}</p>
            <p class="column-3 column">{{item.droprate}}</p>
          </section>

        </section> <!-- section -->

      </section> <!-- end data-wrapper -->

    </section> <!-- end vue-wrapper -->
  </body>
</html>