<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
    <title>Warframe Droprate Explorer</title>
    <meta name="description" content="A simple exploration tool for the droprates in Warframe.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="https://unpkg.com/vue"></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css"> 
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <section id="vue-wrapper">
      <header class="header">
        <section class="search-wrapper">
          <input class="search-bar" type="text">
          <button class="search-button">
            <img src="" alt="Search">
          </button>
        </section>

        <section class="filter-menu">
          <button class="menu-button" v-on:click="toggleMenu">
            <span v-if="menuVisible">A</span>
            <span v-else>V</span>
          </button>

          <ul class="menu" v-bind:class="{ invisible: !menuVisible }">
            <li v-for="filter in filters" v-bind:style="{ gridRow:filter.id }" v-on:click="updateCurrentFilters(filter.id)">
              <input v-bind:id="filter.id" v-bind:name="filter.name" type="checkbox" class="filter-checkbox invisible">
              <label v-bind:for="filter.id" class="filter-checkbox-box"></label>
              <label v-bind:for="filter.id" class="filter-name">{{filter.label}}</label>
            </li>
          </ul>

        </section>

      </header>

      <section id="data" class="data-wrapper">
        {{message}}
        <section class="section" v-for="section in dropdata.sections">

          <section class="title">
            <p>{{section.section}}</p>
          </section>
          <section v-if="section.subSections" v-for="subSection in section.subSections" class="subSection">
            <section class="title">
              <p>{{subSection.subSection}}</p>
            </section>

            <section class="data" v-for="item in subSection.items">
              <p class="column-1">{{item.name}}</p>
              <p class="column-2">{{item.itemchance}}</p>
              <p class="column-3">{{item.droprate}}</p>
            </section>

          </section>

          <section v-if="section.items" v-for="item in section.items" class="data">
            <p class="column-1">{{item.name}}</p>
            <p class="column-2">{{item.itemchance}}</p>
            <p class="column-3">{{item.droprate}}</p>
          </section>

        </section> <!-- section -->

      </section> <!-- end data-wrapper -->

    </section> <!-- end vue-wrapper -->
  </body>
</html>