body {
  padding: 0;
  margin: 0; }

#vue-wrapper {
  display: grid;
  grid-template-columns: 10px auto auto auto auto auto auto 10px;
  grid-template-rows: 60px 10px auto auto auto auto auto 10px;
  height: 100vh;
  width: 100vw;
  position: fixed; }
  #vue-wrapper .data-wrapper {
    background: red;
    overflow-y: auto;
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 8; }
  #vue-wrapper .header {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-end: 1;
    background: blue;
    padding: 10px;
    box-sizing: border-box;
    grid-template-columns: auto 40px 40px; }
    #vue-wrapper .header .search-wrapper {
      display: grid;
      grid-template-columns: 2;
      grid-template-rows: 1;
      grid-template-columns: auto 40px;
      grid-column: 1; }
      #vue-wrapper .header .search-wrapper .search-bar {
        background: cyan;
        border: none;
        padding: 5px;
        box-sizing: border-box;
        grid-column: 1; }
      #vue-wrapper .header .search-wrapper .search-button {
        background: yellow;
        text-overflow: ellipsis;
        overflow: hidden;
        border: none;
        padding: 5px;
        grid-column: 2; }
    #vue-wrapper .header .filter-menu {
      right: 0;
      grid-column: 3;
      display: grid; }
      #vue-wrapper .header .filter-menu .menu-button {
        align-items: center; }
      #vue-wrapper .header .filter-menu .menu {
        background: pink;
        position: fixed;
        top: 60px;
        right: 0;
        padding: 0;
        margin: 0;
        list-style: none;
        display: grid;
        grid-template-rows: repeat(9, 30px); }
        #vue-wrapper .header .filter-menu .menu li {
          display: grid;
          grid-template-columns: 30px auto; }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox, #vue-wrapper .header .filter-menu .menu li .filter-checkbox-box {
            grid-column: 1; }
          #vue-wrapper .header .filter-menu .menu li .filter-name {
            grid-column: 2;
            padding: 0 5px; }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox:checked ~ .filter-checkbox-box {
            background: green; }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox:checked ~ .filter-name {
            background: green; }
  #vue-wrapper .invisible {
    display: none !important; }
  #vue-wrapper .data-wrapper {
    background: red; }
    #vue-wrapper .data-wrapper .section {
      background: green; }
      #vue-wrapper .data-wrapper .section .title {
        background: blue;
        color: white; }
      #vue-wrapper .data-wrapper .section .subSection {
        background: cyan; }
        #vue-wrapper .data-wrapper .section .subSection .title {
          background: pink; }
        #vue-wrapper .data-wrapper .section .subSection .data {
          background: teal;
          display: grid;
          grid-template-columns: auto auto auto; }
          #vue-wrapper .data-wrapper .section .subSection .data .column-1 {
            background: darkgreen;
            grid-column: 1; }
          #vue-wrapper .data-wrapper .section .subSection .data .column-2 {
            background: darkgreen;
            grid-column: 2; }
          #vue-wrapper .data-wrapper .section .subSection .data .column-3 {
            background: darkgreen;
            grid-column: 3; }
      #vue-wrapper .data-wrapper .section .data {
        display: grid;
        grid-template-columns: auto auto auto; }
        #vue-wrapper .data-wrapper .section .data .column-1 {
          background: lightgreen;
          grid-column: 1; }
        #vue-wrapper .data-wrapper .section .data .column-2 {
          background: lightgreen;
          grid-column: 2; }
        #vue-wrapper .data-wrapper .section .data .column-3 {
          background: lightgreen;
          grid-column: 3; }

/*# sourceMappingURL=style.css.map */
