body {
  padding: 0;
  margin: 0;
}

#vue-wrapper {
  display: grid;
  grid-template-columns: 10px auto auto auto auto auto auto 10px;
  grid-template-rows: 60px 10px auto auto auto auto auto 10px;
  height: 100vh;
  width: 100vw;
  position: fixed;

  .data-wrapper {
    background: red;
    overflow-y: auto;
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 8;
  }

  .header {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-end: 1;
    background: blue;
    padding: 10px;
    box-sizing: border-box;
    grid-template-columns: auto 40px 40px;

    .search-wrapper {
      display: grid;
      grid-template-columns: 2;
      grid-template-rows: 1;
      grid-template-columns: auto 40px;
      grid-column: 1;

      .search-bar {
        background: cyan;
        border: none;
        padding: 5px;
        box-sizing: border-box;
        grid-column: 1;
      }

      .search-button {
        background: yellow;
        text-overflow: ellipsis;
        overflow: hidden;
        border: none;
        padding: 5px;
        grid-column: 2;
      }
    }

    .filter-menu {
      right: 0;
      grid-column: 3;
      display: grid;

      .menu-button {
        align-items: center;
      }

      .menu {
        background: pink;
        position: fixed;
        top: 60px;
        right: 0;
        padding: 0;
        margin: 0;
        list-style: none;
        display: grid;
        grid-template-rows: repeat(9, 30px);

        li {
          display: grid;
          grid-template-columns: 30px auto;

          .filter-checkbox, .filter-checkbox-box {
            grid-column: 1;
          }

          .filter-name {
            grid-column: 2;
            padding: 0 5px;
          }

          .filter-checkbox:checked ~ .filter-checkbox-box {
            background: green;
          }

          .filter-checkbox:checked ~ .filter-name {
            background: green;
          }
        }
      }
    }
  }

  .invisible {
    display: none !important;
  }

  .data-wrapper {
    background: red;
    
    .section {
      background: green;

      .title {
        background: blue;
        color: white;
      }

      .subSection {
        background: cyan;

        .title {
          background: pink;
        }

        .data {
          background: teal;
          display: grid;
          grid-template-columns: 33.3% 33.3% 33.3%;

          .column-1 {
            background: darkgreen;
            grid-column: 1;
          }
          .column-2 {
            background: darkgreen;
            grid-column: 2;
          }
          .column-3 {
            background: darkgreen;
            grid-column: 3;
          }
        }

      }
      .data {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;

        .column-1 {
          background: lightgreen;
          grid-column: 1;
        }
        .column-2 {
          background: lightgreen;
          grid-column: 2;
        }
        .column-3 {
          background: lightgreen;
          grid-column: 3;
        }
      }
    }
  }
}