.data-wrapper {
  background: red;
  width: 200px;
  height: 100px;
  overflow-y: auto;
}

.header {
  width: 100%;
  height: 60px;
  background: blue;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  box-sizing: border-box;

  .search-wrapper {
    height: 40px;
    display: inline-block;

    .search-bar {
      background: cyan;
      width: 100px;
      height: 40px;
      border: none;
      padding: 5px;
      box-sizing: border-box;
    }

    .search-button {
      background: yellow;
      width: 40px;
      height: 40px;
      text-overflow: ellipsis;
      overflow: hidden;
      border: none;
      padding: 5px;
    }
  }

  .filter-menu {
    display: inline-block;
    position: absolute;
    right: 0;

    .menu {
      background: green;
      position: fixed;
      top: 60px;
      right: 0;
      // display: none;
    }
  }
}

.invisible {
  display: none;
}