@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif; }

* {
  outline: none; }

#vue-wrapper {
  display: grid;
  grid-template-columns: 10px auto auto auto auto auto auto 10px;
  grid-template-rows: 60px 10px auto auto auto auto auto 10px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: #222;
  color: #fdfdfd; }
  #vue-wrapper .header {
    display: grid;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-end: 1;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    grid-template-columns: auto 40px 40px;
    grid-template-rows: 100%;
    background: #444; }
    @media screen and (min-width: 480px) {
      #vue-wrapper .header {
        grid-template-columns: 400px auto 40px; } }
    #vue-wrapper .header .search-wrapper {
      display: grid;
      grid-template-columns: auto 40px;
      grid-column: 1; }
      #vue-wrapper .header .search-wrapper .search-bar {
        background: #eee;
        border: none;
        padding: 5px;
        box-sizing: border-box;
        grid-column: 1;
        font-family: Oswald, sans-serif; }
      #vue-wrapper .header .search-wrapper .search-button {
        background: #C2C233;
        border: none;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 5px;
        grid-column: 2;
        display: grid; }
        #vue-wrapper .header .search-wrapper .search-button:active {
          background: #929211;
          box-shadow: inset #303000 0 0 2px 3px; }
    #vue-wrapper .header .dark-light {
      grid-column: 2;
      display: grid;
      grid-template-rows: 20px 20px;
      grid-template-columns: 20px;
      justify-content: center; }
      #vue-wrapper .header .dark-light .dark, #vue-wrapper .header .dark-light .light {
        border: none;
        width: 20px;
        height: 20px; }
      #vue-wrapper .header .dark-light .dark {
        background: #444; }
      #vue-wrapper .header .dark-light .light {
        background: #DFDFDF; }
    #vue-wrapper .header .filter-menu {
      right: 0;
      grid-column: 3;
      display: grid; }
      #vue-wrapper .header .filter-menu .menu-button {
        display: grid;
        background: #DDD;
        border: none; }
        #vue-wrapper .header .filter-menu .menu-button:active {
          background: #AAA;
          box-shadow: inset #777 0 0 2px 3px; }
      #vue-wrapper .header .filter-menu .menu {
        background: #444;
        border: none;
        position: fixed;
        top: 50px;
        right: 10px;
        padding: 0;
        margin: 0;
        list-style: none;
        display: grid;
        grid-template-rows: repeat(9, 30px); }
        #vue-wrapper .header .filter-menu .menu li {
          display: grid;
          grid-template-columns: 30px auto; }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox, #vue-wrapper .header .filter-menu .menu li .filter-checkbox-box {
            grid-column: 1; }
          #vue-wrapper .header .filter-menu .menu li .filter-name {
            grid-column: 2;
            padding: 0 5px;
            display: grid;
            align-items: center;
            color: #fafafa; }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox:not(:checked) ~ .filter-checkbox-box {
            background: #ba2323; }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox:checked ~ .filter-checkbox-box {
            box-shadow: inset #19b719 0 0 0 1px;
            background: #19b719;
            border: none; }
          #vue-wrapper .header .filter-menu .menu li .filter-checkbox:checked ~ .filter-name {
            box-shadow: inset #19b719 0 -4px 0 0;
            border: none; }
  #vue-wrapper .invisible {
    display: none !important; }
  #vue-wrapper .data-wrapper {
    background: #444;
    border: none;
    overflow-y: auto;
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 8; }
    #vue-wrapper .data-wrapper * {
      padding: 10px; }
    #vue-wrapper .data-wrapper .section {
      border: none; }
      #vue-wrapper .data-wrapper .section .title {
        background: #445577;
        border: none; }
        #vue-wrapper .data-wrapper .section .title p {
          margin: 0;
          color: white;
          font-weight: 700;
          font-size: 2em; }
      #vue-wrapper .data-wrapper .section .subSection {
        border: none;
        padding-top: 0px;
        padding-right: 0px; }
        #vue-wrapper .data-wrapper .section .subSection .title {
          background: #804060;
          border: none; }
        #vue-wrapper .data-wrapper .section .subSection .data {
          box-shadow: inset teal 0 -1px 0 0, inset teal 0 1px 0 0;
          border: none;
          display: grid;
          grid-template-columns: 33.333% 33.333% 33.333%;
          padding: 0; }
          #vue-wrapper .data-wrapper .section .subSection .data .column {
            margin: 0; }
          #vue-wrapper .data-wrapper .section .subSection .data:not(.highlight) {
            font-weight: 700; }
          #vue-wrapper .data-wrapper .section .subSection .data.highlight:hover {
            background: #333; }
          #vue-wrapper .data-wrapper .section .subSection .data .column-1 {
            border: none;
            grid-column: 1; }
          #vue-wrapper .data-wrapper .section .subSection .data .column-2 {
            border: none;
            grid-column: 2; }
          #vue-wrapper .data-wrapper .section .subSection .data .column-3 {
            border: none;
            grid-column: 3; }
      #vue-wrapper .data-wrapper .section .data {
        box-shadow: inset teal 0 -1px 0 0, inset teal 0 1px 0 0;
        display: grid;
        grid-template-columns: 33.333% 33.333% 33.333%;
        padding: 0; }
        #vue-wrapper .data-wrapper .section .data .column {
          margin: 0; }
        #vue-wrapper .data-wrapper .section .data:not(.highlight) {
          font-weight: 700; }
        #vue-wrapper .data-wrapper .section .data.highlight:hover {
          background: #333; }
        #vue-wrapper .data-wrapper .section .data .column-1 {
          border: none;
          grid-column: 1; }
        #vue-wrapper .data-wrapper .section .data .column-2 {
          border: none;
          grid-column: 2; }
        #vue-wrapper .data-wrapper .section .data .column-3 {
          border: none;
          grid-column: 3; }
  #vue-wrapper .info {
    position: fixed;
    z-index: 5;
    width: 300px;
    height: 300px;
    left: calc(50vw - 150px);
    top: calc(50vh - 150px);
    background: #333;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto; }
    #vue-wrapper .info p {
      background: #222;
      color: #eee;
      font-weight: 700;
      font-size: 2em;
      margin: 0;
      display: grid;
      align-items: center;
      justify-content: center;
      grid-row: 1; }
      #vue-wrapper .info p span {
        width: 100%; }
      #vue-wrapper .info p .fa-times {
        height: 50px;
        width: 50px;
        display: grid;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer; }
    #vue-wrapper .info ul {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 25% 25% 25% 25%;
      grid-row: 2;
      list-style: none;
      margin: 0;
      padding: 0; }
      #vue-wrapper .info ul li {
        display: grid;
        align-items: center;
        justify-content: center; }
      #vue-wrapper .info ul > :nth-child(1) {
        grid-row: 1; }
      #vue-wrapper .info ul > :nth-child(2) {
        grid-row: 2; }
      #vue-wrapper .info ul > :nth-child(3) {
        grid-row: 3; }
      #vue-wrapper .info ul > :nth-child(4) {
        grid-row: 4; }

#vue-wrapper.light {
  background: #fdfdfd;
  color: #222; }
  #vue-wrapper.light .header {
    background: #DFDFDF; }
    #vue-wrapper.light .header .search-wrapper .search-bar {
      background: #fafafa; }
    #vue-wrapper.light .header .search-wrapper .search-button {
      background: #C2C233; }
      #vue-wrapper.light .header .search-wrapper .search-button:active {
        background: #929211;
        box-shadow: inset #303000 0 0 2px 3px; }
    #vue-wrapper.light .header .filter-menu .menu-button {
      background: #EEE; }
      #vue-wrapper.light .header .filter-menu .menu-button:active {
        background: #AAA;
        box-shadow: inset #777 0 0 2px 3px; }
    #vue-wrapper.light .header .filter-menu .menu {
      background: #fafafa; }
      #vue-wrapper.light .header .filter-menu .menu li .filter-name {
        color: #222; }
      #vue-wrapper.light .header .filter-menu .menu li .filter-checkbox:not(:checked) ~ .filter-checkbox-box {
        background: #ba2323; }
      #vue-wrapper.light .header .filter-menu .menu li .filter-checkbox:checked ~ .filter-checkbox-box {
        box-shadow: inset #19b719 0 0 0 1px;
        background: #19b719; }
      #vue-wrapper.light .header .filter-menu .menu li .filter-checkbox:checked ~ .filter-name {
        box-shadow: inset #19b719 0 -4px 0 0; }
  #vue-wrapper.light .data-wrapper {
    background: #ececec; }
    #vue-wrapper.light .data-wrapper .section .title {
      background: #356bd6; }
      #vue-wrapper.light .data-wrapper .section .title p {
        color: #222; }
    #vue-wrapper.light .data-wrapper .section .subSection .title {
      background: #d8458f; }
    #vue-wrapper.light .data-wrapper .section .subSection .data {
      box-shadow: inset teal 0 -1px 0 0, inset teal 0 1px 0 0; }
      #vue-wrapper.light .data-wrapper .section .subSection .data.highlight:hover {
        background: #fafafa; }
    #vue-wrapper.light .data-wrapper .section .data {
      box-shadow: inset teal 0 -1px 0 0, inset teal 0 1px 0 0; }
      #vue-wrapper.light .data-wrapper .section .data.highlight:hover {
        background: #fafafa; }
  #vue-wrapper.light .info {
    background: #ddd; }
    #vue-wrapper.light .info p {
      background: #bbb;
      color: #222; }

/*# sourceMappingURL=style.css.map */
